/* Hash Layout*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {

    /* Color */
    --theme-color: red;
    --main-color: #0d0340;
    --white: #fff;
    --gray: #f4f4f4;
    --lightGray: #dfdfdf;
    --dark: #191919;

    /* Font Family */
    --roboto-fonts: "Roboto", sans-serif;
}

body{
    font-family: var(--roboto-fonts);
}

.h-btn {
    padding: 10px 30px;
    outline: none;
    border-radius: 4px;
    margin: 5px;
    cursor: pointer;
    font-weight:600;
    font-family: var(--roboto-fonts);
    font-size: 14px;
}

.h-align-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-align-right{
    display: flex;
    justify-content: end;
    align-items: center;
}

.h-primary-btn{
    background: var(--main-color);
    color: var(--white);
    border: 2px solid var(--main-color);
}

.h-secondary-btn{
    background: var(--gray);
    color: var(--dark);
    border: 2px solid var(--lightGray);
}

.h-outlined-btn{
    background: none;
    color: var(--main-color);
    border: 2px solid var(--main-color);
}


/* AutoComponent */

.h-Autcomplete-Wrapper {
    width: fit-content;
    margin: 0;
    padding: 0;
    text-align: left;
}

.h-Autcomplete-Wrapper .h-Autcomplete-input {
    padding: 7px 15px;
    font-weight: 500;
    margin: 5px;
    border-radius: 5px 5px 0px 0px;
    outline: none;
    border: 2px solid #eceff7;
    background: #eceff7;
    box-shadow: 0px 1px 0px #dddddd;
}

.h-Autcomplete-Wrapper .h-Autcomplete-list-wrapper {
    background: #eceff7;
    padding: 0px;
    list-style: none;
    margin: 0px 5px;
    border-radius: 0px 0px 10px 10px;
    overflow: auto;
    box-shadow: 1px 1px 2px #c7c7c7;
    max-height: 300px;
    max-width: 300px;
    min-width: 191px;
}

.h-Autcomplete-Wrapper .h-Autcomplete-list-wrapper .h-Autcomplete-list-item {
    font-size: 13px;
    font-weight: 500;
    padding: 5px 13px 8px;
    border-bottom: 1px solid #e5e5e5;
    cursor: pointer;
    transition: .2s ease-in-out;
}
.h-Autcomplete-Wrapper .h-Autcomplete-list-wrapper .h-Autcomplete-list-item:hover{
    background: #0d0340;
    color: white;
}
